.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--accentRed);
  height: 5rem;
  width: 100%;
  z-index: 10;
}

.header__wrapper {
  padding: 2rem;
  margin: auto;
  max-width: 96rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.nav {
  display: flex;
  font-weight: bold;

  & p:not(:last-child) {
    margin-right: var(--marginM);
  }
}

.nav__link {
  text-decoration: none;
  color: var(--primaryWhite);
}

.nav:hover .nav__item {
  transition: .3s;
  opacity: .5;
}

.nav .nav__item:hover {
  transition: .3s;
  opacity: 1;
}

.header__title {
  display: none;
  font-weight: bold;
}

.header__title__link {
  text-decoration: none;
  color: var(--primaryWhite);
}

@media screen and (width >= 600px) {

  .header__title {
    display: block;
  }

  .header__wrapper {

    & img {
      display: none;
    }
  }
}
