.fold {
  position: relative;
  width: 100%;
  height: 95vh;
  background-color: var(--accentYellow);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  background-image: url(../assets/img/screws.png);
  background-position: bottom right;
  background-repeat: no-repeat;
}

.fold__wrapper {
  align-content: center;
  width: 34.5rem;
  margin: auto;

  & .button {
    margin: auto;
    margin-top: var(--marginM);
  }
}

.saw {
  pointer-events: none;
  position: absolute;
  bottom: -8.8rem;
  right: 0;
  max-height: 37.7rem;
  max-width: 28rem;
}

.maker__faire {
  max-width: max-content;
  padding: 0 1.5rem;
  margin: auto;
  display: flex;
  flex-flow: column;

  & img {
    width: 100%;
    object-fit: contain;
    margin: auto;
  }
}

.maker__faire__text {
  width: 34.5rem;
  margin: auto;
  margin-top: var(--marginM);

  & p {
    width: 34.5rem;
  }
}

.timer__wrapper {
  margin: auto;
}

.countdown {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (width >= 750px) {

  .saw {
    max-height: 55rem;
    max-width: 56.6rem;
  }
}

@media screen and (width >= 800px) {

  .maker__faire {
    flex-flow: row-reverse;

    & img {
      margin: 0;
      width: 34.5rem;
    }
  }

  .maker__faire__text {
    margin: auto 0;
    margin-right: var(--marginL);
  }
}

@media screen and (width >= 960px) {

  .maker__faire {

    & img {
      width: 42rem;
      height: 42rem;
    }
  }

  .maker__faire__text {
    padding-right: var(--marginXL);
  }
}
