/* stylelint-disable */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* stylelint-enable */

html {
  box-sizing: inherit;
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
}

main {
  overflow: scroll;
}

.hidden {
  display: none;
}

.box {
  padding: 1rem;
  border: solid 1px black;
  margin: 1rem 0;
}

.error {
  color: #c00;
}

.info {
  color: #0c0;
}

.box.error {
  border-color: #c00;
}

.box.info {
  border-color: #0c0;
}

.container {
  width: 96rem;
  margin: 0 auto;
}

.header {
  background-color: #eee;
}

.header__title {
  background-image: url(../assets/img/logo.png);
  background-repeat: no-repeat;
  height: 21.3rem;
  width: 44.2rem;
  margin: 0 auto;
}

.filter {
  background-color: #01743e;
  color: white;
  padding: 1rem;
}

.prev_next {
  display: flex;
  justify-content: space-between;
  margin-top: .4rem;
  background-color: #eee;
  padding: .4rem;
}

.prev_next a {
  color: #222;
  text-decoration: none;
  text-transform: lowercase;
}

.episodes {
  margin-top: 1rem;
  list-style: disc;
  list-style-position: inside;
}

.episodes__episode {
  padding: .3rem 0;
}

.episodes__episode a {
  color: #222;
}

.episode {
  margin-top: 1rem;
}

.episode__title {
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  background-color: #01743e;
  padding: .3rem;
  color: white;
}

.episode__description {
  padding: 1rem 0;
}

.quotes__title {
  margin-top: 1rem;
  font-size: 2rem;
}

.quote__author {
  font-style: italic;
}

.field-wrapper label span {
  font-weight: bold;
}

.field-wrapper {
  margin-bottom: 1rem;
}

.quote-form {
  max-width: 45rem;
  background-color: #ecdb8f;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.nxtprevgroup {
  margin-top: 2rem;
}

.quote-form > .error {
  padding: 1rem;
  text-transform: uppercase;
  background-color: #c00;
  color: white;
}

.input {
  outline: none;
  display: block;
  width: 100%;
  border: .1rem solid transparent;
  border-radius: .4rem;
  box-sizing: border-box;
  padding: .6rem;
}

.input:focus {
  border: .1rem solid black;
}

.button {
  outline: none;
  background: #01743e;
  width: 100%;
  border: 0;
  border-radius: .4rem;
  padding: 1.2rem 2rem;
  color: white;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
  text-transform: uppercase;
  cursor: pointer;
}

.has-js .filter-button {
  display: none;
}

.nice-to-know {
  border-top: .1rem #222 solid;
  border-bottom: .1rem #222 solid;
  margin-top: 1rem;
  padding: .5rem;
}

.fact {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  color: #01743e;
}
