.items_canvas {
  width: 100vw;
  height: 100%;
}

.tutorial__maten {
  background-image: url(../assets/img/plooimeter@3x.png);
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
  display: flex;
  grid-template-columns: max-content;
  position: relative;
  margin-top: 5rem;
  margin-left: 15rem;

  & p {
    width: 23rem;
    grid-column-start: 1;
  }
}

.portrait {
  background-color: var(--primaryBlack);
  height: 100%;
  width: 100%;
  display: flex;
  position: absolute;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  z-index: 100;

  & div {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    color: var(--primaryWhite);

    & p {
      margin-top: var(--marginM);
      max-width: 30rem;
      text-align: center;
    }
  }

  & div:first-child {
    margin-top: auto;
  }

  & div:last-child {
    margin-top: 6.4rem;
    margin-bottom: auto;
  }
}

.tutorial ~ footer {
  display: none;
}

.tutorial {
  height: 100vh;
}

.header__absolute {
  position: absolute;
  z-index: 1500;
  left: 0;
  top: 0;
}

.webcam {
  position: absolute;
  z-index: 10;
  top: 5rem;
  right: 0;
  width: 9rem;
  height: 6.4rem;

  & canvas {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.landscape {
  height: 100%;
}

/*horizontal scroll css*/

.tutorial__content {
  display: grid;
  grid-auto-flow: column;
  overflow-x: scroll;
  overflow-y: hidden;
}

.progress-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: var(--accentLightBlue);
}

.progress-bar {
  height: 5px;
  background: var(--accentBlue);
  width: 0%;
}

.tutorial__items {
  width: 100vw;
  height: 100%;
  position: relative;
}

.tutorial__items__scroll {
  position: absolute;
  height: 50%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.tutorial__maten__intro {
  margin-top: 5rem;
  margin-bottom: auto;
}

.tutorial__maten__img--ondersteuning {
  width: 21rem;
}

.tutorial__maten__img--poten {
  width: 31.6rem;
  align-self: center;
  margin-left: 10rem;
}

.tutorial__maten__img--stokken {
  align-self: center;
  justify-self: center;
  margin-bottom: 1.5rem;
  margin-top: auto;
}

.tutorial__maten__img--background {
  position: absolute;
  top: -5rem;
  left: 0;
  height: 115%;
}

.tutorial__zagen {
  position: relative;
  margin-top: -5rem;
  width: 65.6rem;
}

.tutorial__zagen__zaag {
  position: absolute;
  top: -8rem;
  left: 0;
}

.tutorial__zagen__text {
  position: absolute;
  top: 25.5rem;
  right: 0;
  text-align: center;

  & p:not(:first-child) {
    font-weight: bold;
    margin-top: var(--marginXS);
  }
}

.tutorial__lijmen {
  position: relative;
  width: 53rem;
  display: flex;
  margin-left: 10rem;
}

.wood {
  position: absolute;
  width: 53rem;
  height: 59rem;
  background-color: var(--accentYellow);
  border-radius: 10px;
}

.wood--top {
  top: -45rem;

}

.wood--bottom {
  bottom: -45rem;
}

.tutorial__lijmen__text {
  margin: auto;
}

.tutorial__wait {
  margin-left: 10rem;
  width: 100vw;
}

.tutorial__deuvel, .tutorial__deuvelpin, .tutorial__stokken, .tutorial__vernis {
  padding-top: 5rem;
  margin: auto;
  margin-left: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.tutorial__deuvel__img {
  width: 20rem;
  height: 20rem;
  object-fit: contain;
}

.tutorial__deuvel__text {
  width: 24rem;
  margin-top: 1.6rem;
  text-align: center;
}

.tutorial__boren {
  position: relative;
  display: flex;
  margin-left: 10rem;
}

.tutorial__boren__drill {
  position: absolute;
  top: -21.5rem;
}

.tutorial__boren__wood {
  width: 80vw;
  height: 12rem;
  background-color: var(--accentYellow);
  margin-top: auto;

  border-radius: 10px 10px 0 0;

  display: flex;
  justify-content: space-around;
}

.tutorial__boren__deuvel__hole {
  width: 6rem;
  height: 8rem;
}

.tutorial__assembleren {
  margin-left: 10rem;
  position: relative;
  height: 100%;
  width: 36.5rem;
}

.tutorial__assembleren__img {
  width: 100%;
  height: 100%;
}

.tutorial__assembleren__text {
  text-align: center;
  margin-top: 6rem;
  width: 34rem;
  position: absolute;
  top: 1rem;
}

.tutorial__stokken {
  text-align: center;
}

.tutorial__stokken__text {
  width: 30rem;
}

.tutorial__stokken__img {
  height: 18rem;
  margin: auto;
  margin-top: 1.6rem;
}

.tutorial__vernis {
  flex-flow: column-reverse;
}

.tutorial__paint {
  margin-top: auto;
  margin-bottom: -.5rem;
  margin-left: 10rem;
  padding-right: 10rem;
  text-align: center;

  & .button {
    margin: auto;
    margin-top: 1.6rem;
  }
}

.tutorial__paint__img {
  width: 30rem;
  height: 18rem;
  object-fit: contain;
}

.tutorial__paint__paint {
  display: flex;
  justify-content: space-around;
  margin-top: 1.6rem;

  & img {
    width: 6.5rem;
  }
}

.background--white {
  background-color: var(--primaryWhite);
}

@media (orientation: landscape) {

  .portrait {
    display: none;
  }
}

@media (orientation: portrait) {

  .portait {
    display: flex;
  }

  .landscape {
    display: none;
  }
}

@media screen and (height >= 440px) {

  .tutorial__maten__img--poten {
    margin-left: 15rem;
  }

  .tutorial__assembleren {
    width: 45rem;
  }
}

@media screen and (height >= 465px) {

  .tutorial__maten__img--ondersteuning {
    width: 30rem;
  }

  .tutorial__maten__img--poten {
    width: 41.7rem;
    margin-left: 15rem;
  }

  .tutorial__maten__img--stokken {
    width: 32.5rem;
    margin-left: 0;
  }
}

@media screen and (height >= 530px) {

  .tutorial__maten__img--poten {

    margin-left: 15rem;
  }

  .tutorial__maten__img--stokken {
    margin-left: 8rem;
  }

  .tutorial__zagen__zaag {
    top: -15rem;
    width: 64.5rem;
  }

  .tutorial__zagen__text {
    top: 50rem;
  }

  .tutorial__zagen {
    width: 80rem;
  }

  .tutorial__assembleren {
    width: 55rem;
  }
}

@media screen and (height >= 575px) {

  .tutorial__maten__intro {
    margin-bottom: auto;
    margin-top: auto;
  }

  .tutorial__maten__img--poten {
    margin-left: 20rem;
  }

  .tutorial__maten__img--stokken {
    margin-left: 8rem;
  }
}

@media screen and (height >= 600px) {

  .tutorial__maten__img--poten {
    width: 47.6rem;
  }

  .tutorial__maten__img--stokken {
    width: 38.2rem;
  }
}

@media screen and (height >= 650px) {

  .tutorial__maten__img--stokken {
    margin-left: 15rem;
  }

  .tutorial__assembleren {
    width: 65rem;
  }
}

@media screen and (height >= 685px) {

  .tutorial__maten__img--stokken {
    width: 42.9rem;
  }

  .tutorial__maten__img--poten {
    width: 47.6rem;
  }

  .tutorial__maten__img--ondersteuning {
    width: 35.2rem;
  }

  .tutorial__zagen__zaag {
    top: -35rem;
    width: 99rem;
  }

  .tutorial__zagen__text {
    width: max-content;
  }

  .tutorial__zagen {
    width: 100rem;
  }
}

@media screen and (height >= 750px) {

  .tutorial__maten__img--ondersteuning {
    width: 40rem;
  }

  .tutorial__maten__img--stokken {
    width: 48rem;
  }

  .tutorial__maten__img--poten {
    width: 58rem;
  }

  .wood--bottom {
    bottom: -30rem;
  }

  .wood--top {
    top: -30rem;
  }

  .tutorial__boren__wood {
    width: 60vw;
    height: 15rem;
  }

  .tutorial__assembleren {
    width: 75rem;
  }

  .tutorial__deuvel__img, .tutorial__deuvelpin__img {
    width: 35rem;
    height: 35rem;
  }

  .tutorial__stokken__img {
    height: 55rem;
  }

  .tutorial__stokken {
    margin-bottom: 5px;
  }

  .tutorial__paint__img {
    width: 90rem;
    margin-bottom: 6.4rem;
  }

  .tutorial__paint__paint img {
    width: 20rem;
  }

  .tutorial__paint__paint {
    margin-top: 3.2rem;
  }

  .tutorial__maten, .tutorial__zagen, .tutorial__lijmen, .tutorial__wait, .tutorial__deuvel, .tutorial__boren, .tutorial__deuvelpin, .tutorial__assembleren, .tutorial__stokken, .tutorial__vernis, .tutorial__paint {
    margin-left: 20rem;
  }
}

@media screen and (height >= 800px) {

  .tutorial__maten__img--ondersteuning {
    width: 46.5rem;
  }

  .tutorial__maten__img--stokken {
    margin-left: 15rem;
    width: 52.7rem;
  }

  .tutorial__maten__img--poten {
    width: 62.5rem;
  }

  .tutorial__zagen__zaag {
    top: -40rem;
    width: 129rem;
  }

  .tutorial__zagen__text {
    top: 70rem;
    width: max-content;
  }

  .tutorial__zagen {
    width: 146.7rem;
  }

  .webcam {
    width: 48rem;
    height: 27rem;
  }

}

@media screen and (height >= 875px) {

  .tutorial__maten__img--poten {
    margin-left: 25rem;
  }

}

@media screen and (height >= 900px) {

  .tutorial__maten__intro {
    margin-left: 7.5rem;
  }

  .tutorial__maten__img--stokken {
    margin-left: 15rem;
  }

  .tutorial__maten__img--poten {
    width: 62.5rem;
  }

}

@media screen and (height >= 960px) {

  .tutorial__maten__img--poten {
    margin-left: 32.8rem;
  }

  .tutorial__assembleren {
    width: 99.7rem;
  }
}

@media screen and (height >= 1000px) {

  .tutorial__maten__img--stokken {
    margin-left: 38.8rem;
  }

  .tutorial__maten__img--poten {
    margin-left: 32.8rem;
  }

}

/* @media screen and (height >= 1024px) {

  .tutorial__maten__img--ondersteuning {
    width: 46.5rem;
    height: 26rem;
    margin-left: 7.5rem;
    margin-top: 30rem;
  }

  .tutorial__maten {

    & p {
      margin-top: .4rem;
      margin-left: 7.4rem;
      width: 46.5rem;
    }
  }

  .tutorial__maten__img--stokken {
    width: 52.7rem;
    height: 24rem;
    margin-left: 38.8rem;
  }

  .tutorial__maten__img--poten {
    width: 62.5rem;
    height: 17.5rem;
    margin-left: 32.8rem;
  }

  .tutorial__zagen {
    width: 145.7rem;
  }

  .tutorial__zagen__zaag {
    width: 129rem;
    top: -40rem;
  }

  .tutorial__zagen__text {
    width: 46rem;
    top: 75.7rem;
    left: 100rem;
  }
} */
