@import './css/reset.css';
@import './css/vars.css';
@import './css/header.css';
@import './css/footer.css';
@import './css/home.css';
@import './assets/fonts.css';

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

/* stylelint-disable */

*,
*::before,
*::after {
  box-sizing: inherit;
}
/* stylelint-enable */

body {
  font-family: Avenir, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  background-color: var(--primaryWhite);
  color: var(--primaryBlack);
}

.content > article:not(:first-child) {
  margin-top: var(--marginXL);
}

.fold__title {
  font-family: Barriecito, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: var(--marginS);
}

.title {
  font-family: Barriecito, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  text-transform: capitalize;
  margin-bottom: var(--marginS);
}

.subtitle {
  font-family: Avenir, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 22px;
  text-transform: capitalize;
}

.body__special {
  font-family: Avenir, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;
}

.button {
  margin-top: var(--marginM);
  font-weight: bold;
  width: max-content;
  padding: var(--marginS) 0;

  & a {
    transition: .3s;
    background: var(--accentLightBlue);
    border-radius: 30px;
    text-decoration: none;
    color: var(--primaryBlack);
    padding: var(--marginS) var(--marginM);
  }

  & a:hover {
    cursor: pointer;
    background: var(--accentBlue);
  }
}

.secondairy__button {
  margin-top: var(--marginM);
  font-weight: bold;
  width: max-content;
  padding: var(--marginS) 0;

  & .button__link {
    transition: .3s;
    text-decoration: none;
    color: var(--primaryBlack);
    padding: var(--marginS) var(--marginM);
    background: rgba(211, 239, 252, .5);
    /* accent/light-blue */

    border: 2px solid var(--accentLightBlue);
    box-sizing: border-box;
    border-radius: 30px;
  }

  & .button__link:hover {
    background: #var(--accentLightBlue);
    border: 2px solid var(--accentBlue);
  }
}

.hide {
  display: none;
  height: 0;
}

.align__center {
  text-align: center;
}

/*horizontal scroll css*/

.tutorial__content {
  display: grid;
  grid-auto-flow: column;
  background: black;
  overflow-x: scroll;
  position: relative;
}

.tutorial__content img {
  width: auto;
  max-width: none;
}

.progress-container {
  width: 100%;
  height: 5px;
  background: var(--accentLightBlue);
}

.progress-bar {
  height: 5px;
  background: var(--accentBlue);
  width: 0%;
}

.item {
  width: 250px;
}
/* horizontal scroll css end*/

@media (orientation: portrait) {

  .nadar {
    display: none;
  }

  body {
    flex-direction: column;
  }
}

/* @media screen and (width >= 500px) {

} */
