@import './css/reset.css';
@import './css/vars.css';
@import './css/header.css';

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

/* stylelint-disable */

*,
*::before,
*::after {
  box-sizing: inherit;
}
/* stylelint-enable */

body {
  font-size: 2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: var(--backgroundColor);
  color: var(--textColor);
}

/** Dit is hier wat commentaar, dat er uit moet in production**/

p {
  line-height: calc(1.8);
}

strong {
  font-weight: bold;

  @nest p & {
    /** enkel om @nest  voorbeeld aan te halen**/
    color: darkorange;
  }
}

img {
  filter: grayscale(100%);
  margin: 1rem auto;
  display: block;
  width: 50vw;

  &:hover {
    filter: none;
  }
}

footer {
  background-image: url(assets/img/nadar.svg);
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 10vw;
  height: 7rem;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 96rem;
  margin: auto;
}

.logo--mobile__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  z-index: 2;
}

.navigation {
  background-color: blue;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: none;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.navigation--visible {
  display: flex;
}

.nav__item {
  padding: 1rem;
}

.hide {
  display: none;
}

.countdown {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*horizontal scroll css*/

.tutorial__content {
  display: grid;
  grid-auto-flow: column;
  background: black;
  overflow-x: scroll;
  position: relative;
}

.tutorial__content img {
  width: auto;
  max-width: none;
}

.progress-container {
  width: 100%;
  height: 8px;
  background: blue;
}

.progress-bar {
  height: 8px;
  background: red;
  width: 0%;
}

.item {
  width: 250px;
}
/* horizontal scroll css end*/

.horizontal-scroll-wrapper {
  width: 100px;
  height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
  transform: rotate(-90deg) translateY(-100px);
  transform-origin: right top;
}

.horizontal-scroll-wrapper > div {
  background-color: aqua;
  min-width: 100px;
  min-height: 100px;
  transform: rotate(90deg) translateX(100px);
  transform-origin: right top;
}

@media screen and (width >= 500px) {
  h1 {
    font-size: 6vw;
  }

  .navigation {
    background-color: white;
    display: flex;
    position: relative;
    flex-flow: row;
    align-items: unset;
    width: 45rem;
  }

  .logo__mobile__nav {
    position: relative;
  }

  .hamburger {
    display: none;
  }
}
