@import './css/reset.css';
@import './css/vars.css';
@import './css/header.css';

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

/* stylelint-disable */

*,
*::before,
*::after {
  box-sizing: inherit;
}
/* stylelint-enable */

body {
  font-size: 2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: var(--backgroundColor);
  color: var(--textColor);
}

/** Dit is hier wat commentaar, dat er uit moet in production**/

p {
  line-height: calc(1.8);
}

strong {
  font-weight: bold;

  @nest p & {
    /** enkel om @nest  voorbeeld aan te halen**/
    color: darkorange;
  }
}

img {
  filter: grayscale(100%);
  margin: 1rem auto;
  display: block;
  width: 50vw;

  &:hover {
    filter: none;
  }
}

footer {
  background-image: url(assets/img/nadar.svg);
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: 10vw;
  height: 7rem;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 96rem;
  margin: auto;

}

.logo--mobile__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  z-index: 2;
}

.navigation {
  background-color: blue;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: none;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.navigation--visible {
  display: flex;
}

.nav__item {
  padding: 1rem;
}

.hide {
  display: none;
}

.countdown {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (width >= 500px) {

  h1 {
    font-size: 6vw;
  }

  .navigation {
    background-color: white;
    display: flex;
    position: relative;
    flex-flow: row;
    align-items: unset;
    width: 45rem;
  }

  .logo__mobile__nav {
    position: relative;
  }

  .hamburger {
    display: none;
  }
}
